spring.application.name=pbo-coffee-shop

# Database Configuration
# Ganti dengan konfigurasi database local masing-masing
spring.datasource.url=jdbc:mysql://localhost:3306/db_blueswan?createDatabaseIfNotExist=true&serverTimezone=UTC
spring.datasource.username=root
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# JPA / Hibernate
# 'create' akan menghapus data lama setiap restart (auto-seeding)
# 'update' akan mempertahankan data lama
spring.jpa.hibernate.ddl-auto=create
spring.jpa.show-sql=true
