:root {
  --primary: #4a6fa5;
  --bg: #d9c6b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: #fff;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(240, 240, 240, 0.7);
  border-bottom: 1px solid rgb(9, 42, 80);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #000;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: transform 250ms ease-in-out;
}

.navbar .navbar-extra a {
  color: #000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("/img/ben-garratt-OMFtBJb8kgg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(217, 198, 176, 1),
    12%,
    rgba(240, 240, 240, 0) 50%
  );
}

.hero .hero-content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .hero-content h1 {
  font-size: 5em;
  color: #010101;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  line-height: 1.2;
}

.hero .hero-content p {
  font-size: 1.5rem;
  color: #010101;
  margin: 1.5rem 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero .hero-content .btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--primary);
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.hero .hero-content .btn:hover {
  background: #355a8c;
  text-decoration: underline;
}

/* About Section */

.about,
.menu,
.contact {
  padding: 7rem 7% 1.4rem;
  background: var(--bg);
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 10px;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  color: #000;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.6;
}

/* Menu Section */

.menu h2,
.contact h2 {
  margin-bottom: 0.5rem;
}

.menu p,
.contact p {
  text-align: center;
  max-width: 30rem;
  color: #000;
  margin: 0 auto 4rem;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 300;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 2rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* Contact Section */

.contact .row {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #555;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: 0;
  color: #fff;
  font-weight: 300;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--primary);
}

/* Footer */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 0 1rem;
  font-size: 1.5rem;
}

footer .social a:hover,
footer .link a:hover {
  color: var(--bg);
}

footer .link {
  margin-bottom: 1.4rem;
}

footer .link a {
  color: #fff;
  padding: 0.7rem 1.5rem;
  margin: 0 1rem;
  font-size: 1.2rem;
}

footer .credit {
  color: #fff;
  font-size: 1.2rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

footer .credit a:hover {
  text-decoration: underline;
}

/* Media Queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 1024px) {
  html {
    font-size: 65%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: right 0.3s ease;
  }

  .navbar .navbar-nav.active {
    right: -10%;
    transition: right 0.3s ease;
  }

  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    margin-bottom: 2rem;
  }

  .about .row .content {
    padding: 0;
  }

  .menu p,
  .contact p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
}

/* mobile phone */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}
