<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blue Swan Coffee</title>

    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Styles -->
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <!-- Navbar start -->
    <nav class="navbar">
      <a href="#" class="navbar-logo">Blue Swan Coffee</a>

      <div class="navbar-nav">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#menu">Menu</a>
        <a href="#contact">Contact</a>
      </div>

      <div class="navbar-extra">
        <a href="#" id="search"><i data-feather="search"></i></a>
        <a href="#" id="shopping-cart"><i data-feather="shopping-cart"></i></a>
        <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
      </div>
    </nav>

    <!-- Navbar end -->

    <!-- Hero section start -->
    <section class="hero" id="home">
      <main class="hero-content">
        <h1>Welcome to Blue Swan Coffee</h1>
        <p>Your daily dose of freshly brewed coffee</p>
        <a href="#menu" class="btn">Explore Our Menu</a>
      </main>
    </section>
    <!-- Hero section end -->

    <!-- About Section Start -->
    <section id="about" class="about">
      <h2><span>About</span> Us</h2>

      <div class="row">
        <div class="about-img">
          <img src="img/About Us.jpg" alt="About Us Image" />
        </div>

        <div class="content">
          <h3>Kenapa Harus Blue Swan?</h3>
          <p>
            Blue Swan Coffee adalah pilihan tepat untuk Anda yang menginginkan
            kopi berkualitas tinggi dengan cita rasa yang unik. Kami menggunakan
            biji kopi pilihan yang diproses secara hati-hati untuk memastikan
            setiap cangkir kopi yang disajikan memiliki rasa yang sempurna.
          </p>
        </div>
      </div>
    </section>

    <!-- About Section End -->

    <!-- Menu Section Start -->
    <section id="menu" class="menu">
      <h2><span>Our</span> Menu</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quod
        pariatur repellendus a, aut repudiandae.
      </p>

      <div class="row">
        <div class="menu-card">
          <img src="img/menu/1.jpg" alt="Menu 1" class="menu-card-img" />
          <h3 class="menu-card-title">- Espresso -</h3>
          <p class="menu-card-price">IDR 25K</p>
        </div>
        <div class="menu-card">
          <img src="img/menu/1.jpg" alt="Menu 1" class="menu-card-img" />
          <h3 class="menu-card-title">- Espresso -</h3>
          <p class="menu-card-price">IDR 25K</p>
        </div>
        <div class="menu-card">
          <img src="img/menu/1.jpg" alt="Menu 1" class="menu-card-img" />
          <h3 class="menu-card-title">- Espresso -</h3>
          <p class="menu-card-price">IDR 25K</p>
        </div>
        <div class="menu-card">
          <img src="img/menu/1.jpg" alt="Menu 1" class="menu-card-img" />
          <h3 class="menu-card-title">- Espresso -</h3>
          <p class="menu-card-price">IDR 25K</p>
        </div>
        <div class="menu-card">
          <img src="img/menu/1.jpg" alt="Menu 1" class="menu-card-img" />
          <h3 class="menu-card-title">- Espresso -</h3>
          <p class="menu-card-price">IDR 25K</p>
        </div>
      </div>
    </section>
    <!-- Menu Section End -->

    <!-- Contact Section Start -->
    <section id="contact" class="contact">
      <h2><span>Kontak</span> Kami</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis,
        magni?
      </p>

      <div class="row">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.321560480525!2d107.63086417460649!3d-6.971338193029311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e9987158a94d%3A0x7ffde813da94766b!2sBlue%20Swan%20Coffee!5e0!3m2!1sid!2sid!4v1758354209479!5m2!1sid!2sid"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="map"
        ></iframe>

        <form action="">
          <div class="input-group">
            <i data-feather="user"></i>
            <input type="text" placeholder="nama" />
          </div>
          <div class="input-group">
            <i data-feather="mail"></i>
            <input type="text" placeholder="email" />
          </div>
          <div class="input-group">
            <i data-feather="phone"></i>
            <input type="text" placeholder="no hp" />
          </div>
          <button type="submit" class="btn">kirim pesan</button>
        </form>
      </div>
    </section>
    <!-- Contact Section End -->

    <footer>
      <div class="social">
        <a href="https://www.instagram.com/blueswancoffee/"
          ><i data-feather="instagram"></i
        ></a>
      </div>

      <div class="link">
        <a href="#home">Home</a>
        <a href="#about">About Us</a>
        <a href="#menu">Menu</a>
        <a href="#contact">Contact</a>
      </div>

      <div class="credit">
        <p>
          Created by <a href="https://github.com/deonaja">deonaja</a>. | &copy;
          2023.
        </p>
      </div>
    </footer>

    <!-- feather icons -->
    <script>
      feather.replace();
    </script>

    <!-- JavaScript -->
    <script src="js/script.js"></script>
  </body>
</html>
